<div class="flex min-w-0 flex-col gap-4 lg:h-[600px] lg:flex-row">
  <div class="product-detail-gallery__thumbs order-2 flex gap-3 overflow-x-auto pb-1 lg:order-1 lg:h-full lg:w-28 lg:flex-col lg:overflow-y-auto lg:overflow-x-hidden lg:pb-0 lg:pr-2">
    @for (image of images(); track image) {
      <button
        type="button"
        class="h-20 w-20 flex-none overflow-hidden rounded-[10px] border bg-[#ebe7e7] transition lg:h-24 lg:w-24"
        [class.border-[#4b41e1]]="image === selectedImage()"
        [class.border-[#d2c5ab]]="image !== selectedImage()"
        (click)="imageSelect.emit(image)"
      >
        <img [src]="image" [alt]="productName()" class="h-full w-full object-contain" />
      </button>
    }
  </div>

  <div class="order-1 min-w-0 flex-1 overflow-hidden rounded-[16px] bg-[#ebe7e7] lg:order-2 lg:h-full">
    <img
      [src]="selectedImage()"
      [alt]="productName()"
      class="aspect-square w-full object-cover lg:h-full lg:aspect-auto"
    />
  </div>
</div>
